@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #0b0f19;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}